.regName {
  font-weight: bold;
}

.desc {
  font-style: italic;
}

.empty {
  margin-bottom: 2rem;
}

.eventName {
  margin-bottom: 0.5rem;
}

.eventDescription {
  margin-bottom: 2rem;
}

.registrationsHeader {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.registerSection {
  margin-bottom: 1rem;
}
